# Ignore list
# najskor som zakazal vsetko a potom som povolil len to co som potreboval

*
!*.php
!_vlozene
!_vlozene/QR
ConnectMyAdmin.php
!_css
!common.css
!folio-gallery.css
!dekanat
!farnost
!fotogaleria
!liturgia
!spolocenstva
!ostatne
!dekanat/*.php
!farnost/*.php
!fotogaleria/**/*
!liturgia/*.php
!spolocenstva/*.php
!ostatne/*.php
adminer.php
!.gitignore
!.htaccess
!css
!*.css
#!_fotoalbumy
#!_fotoalbumy/*/
#!_fotoalbumy/*/*/
#!_fotoalbumy/**/*.xml
adminer.css

