# Ignore list
# najskor som zakazal vsetko

*

#  a potom som povolil len to co som potreboval
!*.php
!*.scss
#*.css

!_scss
!_scss/**/*

!_vlozene
!_vlozene/QR

!dekanat
!farnost
!fotogaleria
!liturgia
!ostatne
!spolocenstva

!dekanat/*.php
!farnost/*.php
!fotogaleria/**/*
!liturgia/*.php
!ostatne/*.php
!spolocenstva/*.php

!.gitignore
!.htaccess

#!_fotoalbumy
#!_fotoalbumy/*/
#!_fotoalbumy/*/*/
#!_fotoalbumy/**/*.xml

# nakoniec som zakázal jednotlivé súbory ktoré nechcem zverejňovať
adminer.php
ConnectMyAdmin.php