/* Nové */
body {
	background-color: #d5d5d5;
}

/* @media (min-width: 1600px) {
  .container {
    padding-right: 0px;
	padding-left: 0px;
	max-width: 1540px;
  }
} */

.card-text{
	font-size: 0.9rem;
}
.card-body {
	padding: 0.7rem;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 15% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.gallery {
margin:15px auto;
padding: 1.2rem 1.2rem;
background:#ededed;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

a:hover .card {
	color:red;
	border-color: #f00 !important;
}

.gallery a:link,
.gallery a:active,
.gallery a:visited,
.gallery a:hover {
	color: #212529;
    text-decoration: none;
}

.vsetkyGalerie a:hover {
    text-decoration-line: underline; 
}

.gallery .page-item {
	font-weight: bolder;
}

div#HlavickaAlbumu {
	margin-bottom: 1.2rem;
}

div#HlavickaAlbumu .card{
	border-radius: 0;
	
}
div#HlavickaAlbumu .card .card-header{
	border-radius: 0;
}

html {
  font-size: 12px;
}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 2;
  }
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -moz-column-count: 2;
	-webkit-column-count: 2;
            column-count: 2;
  }

}

@media (min-width: 992px) {
  .card-columns {
    -moz-column-count: 3;
	-webkit-column-count: 3;
            column-count: 3;
  }

}

@media (min-width: 1200px) {
  .card-columns {
    -moz-column-count: 4;
	-webkit-column-count: 4;
            column-count: 4;
  }
  html {
    font-size: 16px;
  }
}

.form-inline {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

/*
!!!  prepísať v šablone bootstrap z hodnoty 1px na 2px.
.form-control {
    border: 2px;
}
*/

.dropdown-item:focus, .dropdown-item:hover {
	color: #f8f9fa;
	text-decoration: none;
	background-color: #007bff;
}

nav#prve {
	padding-top: 0;
	padding-bottom: 1rem;
}

nav#druhe {
	padding-top: 1rem;
	padding-bottom: 0;
}





/* STARé */

.kostolPage{
	margin:20px;
}
.frantisekPage{
	margin:20px;
}
.kontaktPage{
	margin:20px;
	text-align:center;
}
.headerText{
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
	margin-bottom:10px;
	margin-top:40px;
}
.mainPageTextCenter{
	text-align:center;
	padding-top:40px;
	padding-bottom:40px;
}
.mainPageText{
	padding-top:40px;
	padding-bottom:40px;
}
div.textfrantisek{
	text-indent:40px;
	text-align:justify;
	vertical-align:middle;
	width:auto;
/*margin:15px 15px 15px 15px;*/
}
div.normaltext{
	font-family:sans-serif;
	text-align:left;
	padding-left:0px;
	padding-bottom:2px;
}
ul.zarovnanie1{
	text-align:left;
}
.textkostol{
	text-align:justify;
}
.rightOznamy{
	background-color: rgb(238, 238, 238); 
	padding-top: 0.75rem; 
	padding-bottom: 0.75rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	padding-left: 0.75rem; 
	padding-right: 0.75rem;
	border: 1px solid transparent;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.rightOznamy h2{
	margin-top: 10px;
	margin-bottom: 7px;
}
.rightOznamy>p:first-child{
	margin-top:10px;
	white-space:pre;
}
.rightOznamy .meniny{
	margin-left:20px;
	margin-right:20px;
}

.mapyGoogle{
	border-style: none;
	height: 320px;
	max-width: 600px;
}

@media (min-width: 992px) {
	.navbar-brand {
		font-size: 24px;
	}
	.nav {
		font-size: 14px;
	}
	.mapyGoogle{
		height: 425px;
	}
}

/*.breadcrumb > .active {
  font-size: 120%;
}*/

.rightOznamy iframe {
	border-style: none;
	margin: auto;
}
iframe.noScrolling {
	width: 300px;
	height: 340px;
	overflow: hidden;
	margin-left: -30px;
}


footer {
  padding: 0px 15px 10px 15px;
  background-color: #333333;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #d9d9d9;
  /*min-height: 215px;*/
  font-size: 0.75rem;
}

footer .glyphicon{
	margin-left: 35px;
}
footer address {
    margin-bottom: 0px;
}
footer dd {
	margin-left: 15px;
}
footer h1{
	font-weight: 500;
	font-size: 1.8rem;
	margin-top: 0px;
	padding-top: 15px;
}

/*.pocitadlo{
	padding-top: 10px;
	margin: 0px;
}*/

.myslienka{
	min-height: 107px;
	font-size: 1.0rem;
	margin: 0px;
}
.footerHIGH{
	min-height: 220px;
}

#copyright{
	padding:0px;
	margin:5px 0px 0px 0px;
}
/*
.pagination{
	display: table;
	margin: 20px auto 0px auto;
	word-wrap: initial;
}*/

.half-rule {
    width: 100px;
    margin: 40px auto;
}
.knazi{
	padding-top: 5px;
}
.knaziS .row h3 {
	margin-top: 5px;
	padding-left: 15px;
}
.knaziS .row {
	margin-top: 15px;
}
.knaziS ul {
	margin-bottom: 0px;
}
.dekanat dd {
	padding-bottom: 20px;
}
.thumbnail {
    padding: 15px 5px 2px 5px;
    margin-bottom: 25px;
    background-color: #EEE;  /*FFF*/
    border: 0px solid #000;
	/* min-height: 350px;*/
}
.thumbnail img{
	/*width: 95%;*/
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.well {
    margin-top: 15px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
}


.well h1{
	/*font-size: 24px;*/
	margin-top: 0px;
}
/*.panel{
	margin-top: 15px;
}*/

mark {
	background-color: #FF9;
}


@media print {
	footer,
	.breadcrumb,
	.well,
	.card,
	.rightOznamy{
		border: 1px solid #ddd !important;
  }
}

.carousel {
	position: relative;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 720px) {
/*  	.carousel-control-prev,
	.carousel-control-next,  */
/*  	.carousel-control-prev-icon,
	.carousel-control-next-icon,  */
	.carousel-indicators{
	  display: none;
	  /*top: 46%;*/
	}
	.navbar-nav .open .dropdown-menu > li > a {
		padding-left: 50px;
	}
}

.card-body p:last-child {
  margin-bottom: 0rem;
}
