// Moje triedy
.hlavnyobsah {
	background-color: $mojePozadieObsah;
}

.vedlajsiObsah,
.gallery {
	background-color: $mojePozadieVedlajsi; 
}

footer {
  background-color: $mojePozadieFooter;
  color: #d9d9d9;
  font-size: 0.75rem;
}

.dropdown-item:focus, 
.dropdown-item:hover {
	color: $gray-100;
	text-decoration: none;
	background-color: $blue;
}

.gallery a:link,
.gallery a:active,
.gallery a:visited,
.gallery a:hover {
	color: $gray-900;
    text-decoration: none;
}

// moje triedy bez premenných
.carousel {
	max-width: 1350px;
}

.vsetkyGalerie a:hover {
    text-decoration-line: underline;
}

a .card:hover {
	border-color: #f00 !important;
}

.zoznamGalerii:hover {
	border-color: #f00 !important;
}

@include media-breakpoint-down(sm) {
/*  .carousel-control-prev,
	.carousel-control-next,
  	.carousel-control-prev-icon,
	.carousel-control-next-icon,  */
	.carousel-indicators{
	  display: none;
	}
}

@media print {
	footer,
	.breadcrumb,
	.hlavnyobsah,
	.vedlajsiObsah,
	.card  {
		border: 1px solid #ddd !important;
	}
	blockquote {
		border-style: none;
	}
}

// štandardný počet stĺpcov vedľa seba
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

/* @media (min-width: 1600px) {
  .container {
    padding-right: 0px;
	padding-left: 0px;
	max-width: 1540px;
  }
  .carousel {
	max-width: 1540px;
  }
} */